
<style>
    .workspace {
        border-color: #454456 !important;
        border: 1px solid transparent;
        background-color: #fbfbfb;
        margin-top: 2%;
        width:70%;
        margin-left: 18%;
        border-radius: 5px;
    }

    .textM {
        min-width: 98%;

    }

    .element {
        margin-top: 1%;
        margin-left: 1%;
        margin-right: 1%;
        margin-bottom: 1%;
    }

    .instruments {
        margin-bottom:1%;
        margin-top:3%;
        margin-left:35%;
    }

    .instrument {
        padding:20px;
    }

</style>



<div class="wrapper">        
            <div class='workspace'>

                <div [dragula]='"first-bag"'>
                    
                    
                        <div class="row element textM" *ngFor="let item of items; let i = index">
                            <div class="pull-left" style="margin-left:-3%">
                                <span class="glyphicon glyphicon-move"></span>
                            </div>
                            <div class="pull-right" style="margin-right:-3%">
                               <span (click)="removeElement(i)" class="glyphicon glyphicon-trash "></span>
                            </div>
                            <div contenteditable="true"> 
                                {{item.field}}                                 
                            </div>
                        </div>

                        

                </div>

                

                <hr />

                <div class="instruments">
                   
                    <button (click)="AddText()" title="Add text" class="btn instrument btn-default btn-lg"><span class="glyphicon glyphicon-pencil fa-lg"></span></button>
                    <button (click)="AddPhoto()" title="Add photo" class="btn instrument btn-default btn-lg"><span class="glyphicon glyphicon-camera "></span></button>
                    <button (click)="AddVideo()" title="Add video" class="btn instrument btn-default btn-lg"><span class="glyphicon glyphicon-facetime-video "></span></button>
                </div>
        
            </div>
     </div>






@*<div class="element">

    <div class="pull-left" style="margin-left:-3%">
        <span class="glyphicon glyphicon-move"></span>
    </div>

    <div class="pull-right" style="margin-right:-3%">
        <span class="glyphicon glyphicon-remove "></span>
    </div>

    <img src="~/images/Facebook.png" />

</div>*@