
<style>
    .workspace {
        border-color: #454456 !important;
        border: 1px solid transparent;
        background-color: #fbfbfb;
        margin-top: 2%;
        width:70%;
        margin-left: 18%;
        border-radius: 5px;
    }

    .textM {
        min-width: 98%;

    }

    .element {
        margin-top: 1%;
        margin-left: 1%;
        margin-right: 1%;
        margin-bottom: 1%;
    }

    .instruments {
        margin-bottom:1%;
        margin-top:3%;
        margin-left:35%;
    }

    .instrument {
        padding:20px;
    }

</style>



<div class="wrapper">        
            <div id="abc" class='workspace'>

                <div  [dragula]='"first-bag"' [dragulaModel]='items'>
                    
                    <div *ngFor="let item of items; let i = index">
                      
                        <div ngSwitch="{{item.type}}">

                            <div *ngSwitchCase="'text'">
                                <div class="row element textM"> 
                                    <div class="pull-left" style="margin-left:-3%">
                                        <span class="glyphicon glyphicon-move"></span>
                                    </div>
                                    <div class="pull-right" style="margin-right:-3%">
                                        <span (click)="removeElement(i)" class="glyphicon glyphicon-trash "></span>
                                    </div>
                                    <div id="a{{i}}" contenteditable="true">
                                        {{item.field}}
                                    </div>
                                </div>
                            </div>

                            <div *ngSwitchCase="'photo'">
                                <div class="element">                                 
                                    <div class="pull-left" style="margin-left:-3%">
                                        <span class="glyphicon glyphicon-move"></span>
                                    </div>

                                    <div class="pull-right" style="margin-right:-3%">
                                        <span (click)="removeElement(i)" class="glyphicon glyphicon-trash "></span>
                                    </div>

                                   <cl-image [public-id]=item.field [cloud-name]="uploader.cloudName"></cl-image>

                                </div>
                            </div>

                            <div *ngSwitchCase="'video'">
                                <div class="element">
                                    <div class="pull-left" style="margin-left:-3%">
                                        <span class="glyphicon glyphicon-move"></span>
                                    </div>

                                    <div class="pull-right" style="margin-right:-3%">
                                        <span (click)="removeElement(i)" class="glyphicon glyphicon-trash "></span>
                                    </div>

                                    <iframe width="560" height="315" src="https://www.youtube.com/embed/YkEIeYudrtM" frameborder="0" allowfullscreen></iframe>

                                </div>
                            </div>

                        </div>

                     </div>

         

                </div>

                

                <hr />

                <div class="instruments">
                    <button (click)="AddText()" title="Add text" class="btn instrument btn-default btn-lg"><span class="glyphicon glyphicon-pencil fa-lg"></span></button>
                    <label  title="Add photo" class="btn instrument btn-default btn-lg">
                        <span class="glyphicon glyphicon-camera "></span>
                        <input class="hidden" type="file" ng2FileSelect [uploader]="uploader" (change)="onChange($event)" />
                    </label>
                    <button (click)="AddVideo()" title="Add video" class="btn instrument btn-default btn-lg"><span class="glyphicon glyphicon-facetime-video "></span></button>
                </div>
        
            </div>
     </div>








