@using Microsoft.AspNetCore.Identity
@using A2SPA.Models

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager 



<nav class="navbar navbar-inverse navbar-fixed-top" style="background-color:#416b8f; border-color:#2f4c65; z-index:1000">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a style="color: #fff;" routerLink="/home" routerLinkActive="active" class="navbar-brand"><i style="padding-right:5px;" class="fa fa-graduation-cap" aria-hidden="true"></i>WoG</a>
        </div>
        <div class="navbar-collapse collapse">
                     
                <div class="navbar-form navbar-left" >
                    <div class="input-group">
                        <input #box (keyup.enter) = "search()" id="mainSearch"  type="text" class="form-control"  [(ngModel)]="searchData1" placeholder="{{ 'Search' | translate:lang }}">
                        <div class="input-group-btn">
                            <a class="btn btn-default"  routerLink="/home/all/search/{{searchData1}}"  (click)="getRequest()">
                                <i  class="glyphicon glyphicon-search"></i>
                            </a>
                        </div>
                    </div>
                </div>
            @*//routerLink="/home/all/search/{{searchData}}"*@
            @if (SignInManager.IsSignedIn(User))
            {

                <form ngNoForm asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a style="color: #fff;" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> @UserManager.GetUserName(User)<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a asp-area="" [routerLink]="['profile','0']">{{ 'Profile' | translate:lang }}</a></li>
                                <li><a asp-area="" [routerLink]="['instruction']">{{ 'NewInstruction' | translate:lang }}</a></li>
                                <li><a asp-area="" [routerLink]="['displayInstruction']">Display</a></li>    
                                <li><hr style="margin-top: 3px; margin-bottom: 3px;"/></li>
                                <li>
                                    <a href="#">{{ 'LogOut' | translate:lang }}</a>
                                </li>                 
                            </ul>
                        </li>
                    </ul>
                </form>
            }
            else
            {
                <ul class="nav navbar-nav navbar-right">
                    <li><a asp-area="" routerLink="/authorization"> <span class="glyphicon glyphicon-user"></span> {{ 'SignIn' | translate:lang }}</a></li>
                </ul>
            }
        </div>
       
    </div>
</nav>

<div class="">
    <router-outlet></router-outlet>
</div>
