<div class="header container" *ngIf="loadInfo">  
        <h2>{{instruction.name}}           
            <button (click)="removeInstruction()" class="btn btn-default pull-right" *ngIf="checkRole()">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
            <button style="margin-right: 0.5%;" class="btn btn-default pull-right" *ngIf="checkRole()">
                <span routerLink="/createInstruction/{{id}}" class="glyphicon glyphicon-pencil"></span>
            </button>            
        </h2>
       
        <p id="method_toc" class="sp_method_toc" >
            <span class="glyphicon glyphicon-cloud"></span>
            <span>{{ 'DisplayInstruction.Tags' | translate:lang }}: </span>          
          
            <a *ngFor="let tag1 of instruction.tags; let i = index"  routerLink="/home/all/tag/{{tag1.tag.name}}">#{{tag1.tag.name}}</a>
       
        </p>
        <p id="method_toc" class="sp_method_toc">
            <span>{{instruction.steps.length}} {{ 'DisplayInstruction.Steps' | translate:lang }} :</span>
            <a *ngFor="let stepName of instruction.steps; let i = index" >{{i+1}}) {{stepName.name}}</a>
        </p>
        <img src={{instruction.previewImageUrl}} style="width: calc(100% + 30px);margin-left: -15px;" />
        <div class="pull-left" style="line-height:40px" >
            {{ 'DisplayInstruction.CreatedBy' | translate:lang }} <a routerLink="/profile/{{instruction.userProfile.id.toString()}}">{{instruction.userProfile.firstName}}</a> {{ 'DisplayInstruction.In' | translate:lang }} <a routerLink="/home/all/category/{{instruction.category.name}}">{{instruction.category.name}}</a>
        </div>
        <div class="pull-right" style="cursor:pointer;line-height:40px">            
                <span *ngIf="!like" (click)="putLike()" >{{instruction.rating}} <span style="font-size: large ;margin-top: 12%; padding-left: 5px;" class="glyphicon glyphicon glyphicon-thumbs-up like"></span></span>  
            <span *ngIf = "like" (click)="putLike()">{{instruction.rating}} <span style="color:#187bd5" class="glyphicon glyphicon glyphicon-thumbs-up like"></span></span>
        </div>
    </div>

<div  class="step container " *ngFor="let step of instruction.steps; let j = index" >
        <div  class="section steps">
            <h3 class="" style="padding: 0;margin-top: 0;">
                <div class="altblock">
                    <label class="method_label">{{ 'DisplayInstruction.Step' | translate:lang }} {{j+1}}</label>
                </div>
                <span class="mw-headline">{{step.name}}</span>
            </h3>
        </div>

        <div *ngFor="let item of step.blocks; let i = index">
            <div ngSwitch="{{item.type}}">
                <div *ngSwitchCase="'text'">                   
                    <div style="word-wrap:break-word; padding:10px" [innerHTML]="item.field" >
                        </div>                
                </div>

                <div *ngSwitchCase="'photo'">                   
                        <img src={{item.field}} style="width:100%;"/>                  
                </div>

                <div *ngSwitchCase="'video'">                    
                        <iframe  style="width:100%; height:350px"  [src]="item.field | safe" frameborder="0" allowfullscreen></iframe>                  
                </div>
            </div>
        </div>     
</div>

<div *ngIf="loadComment">
    <comments  [idInstruction]="instruction.id" [userProfile]="currentUser"></comments>
</div>
