
@{
    ViewData["Title"] = "Home Page";
}

<style>
    body {
        padding: 10px !important;
        background: #f1f1f1 !important;
    }

</style>

<div id="myCarousel" class="carousel slide" data-ride="carousel" style="width:100%;height:600px;">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <img style="width:100%;height:600px;" src="https://wallpaperscraft.com/image/wave_3d_surface_terrain_rendering_102566_3840x2400.jpg" alt="Los Angeles">
        </div>

        <div class="item">
            <img style="width:100%;height:600px;" src="https://wallpaperscraft.com/image/drift_nissan_sport_cars_smoke_81217_1920x1200.jpg" alt="Chicago">
        </div>

        <div class="item">
            <img style="width:100%;height:600px;" src="https://wallpaperscraft.com/image/iy_tujiki_art_night_train_anime_starry_sky_98589_2000x1178.jpg" alt="New york">
        </div>
    </div>

</div>
<div class="container">
    <div class="row">
        
        <div class="main col-xs-12 col-sm-9 col-lg-9 col-md-9 ">           
            <instructionBlock></instructionBlock>
        </div>
        <div class="sidebar col-xs-3 hidden-xs" style=" padding: 20px;">
            <div class="well">
               <a routerLink="/home/all/{{type}}/{{value}}">Все</a>
               <a routerLink="/home/popular/{{type}}/{{value}}">Популярные</a>
            </div>
            <div class="well">
                <p>Browse Categories</p>
                <p *ngFor="let item of categories"><a routerLink="/home/all/category/{{item.name}}">{{item.name}}</a></p>
            </div>
            <div class="well">
                <p>Cloud Tags</p>
                <a *ngFor="let tag of tags" routerLink="/home/all/tag/{{tag.name}}">{{tag.name}}  </a>
            </div>
        </div>

    </div>
</div>