<style>
    .workspace {
        border-color: #454456 !important;
        border: 1px solid transparent;
        background-color: #fbfbfb;
        margin-top: 2%;
        width: 70%;
        margin-left: 18%;
        border-radius: 5px;
    }

    .textM {
        min-width: 98%;
        margin-top: 1%;
        margin-bottom: 1%;
        margin-left: 1%;
        margin-right: 1%;
    }

    .element {
        margin-top: 1%;
        margin-bottom: 1%;
        text-align: center;
    }

    .imageCenter {
        text-align: center;
    }

    .instruments {
        margin-bottom: 1%;
        margin-top: 1%;
        text-align: center
    }

    .instrument {
        padding: 20px;
        background-color: black;
    }

    .dragSteps {
       display:inline-block;
    }

    .cat {
        display:inline;
    }
  

.index-content a:hover{
    color:black;
    text-decoration:none;
}
    .index-content {
        margin-top: 3%;
    }

.index-content .card{
    background-color: #FFFFFF;
    padding:0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius:4px;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);

}
.index-content .card:hover{
    box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.3);
    color:black;
}
    .index-content .card .img {
        width: 100%;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }
.index-content .card h4{
    margin:20px;
}

    .content {
       /*height:310px;*/
    }

</style>



<div class="container">
    <div class="row">
        <div class="index-content">

            <div class="col-md-5">
                <div class="card">
                    <cl-image width="458" height="255"  [public-id]=instruction.previewImageUrl [cloud-name]="uploader.cloudName"></cl-image>
                    <h4>{{instruction.name}}</h4>
                    <div class="row">
                        <div class="pull-left" style="margin-left:7%">
                            <p>by Anton in {{instruction.category.name}}</p>
                        </div>
                        <div class="pull-right" style="margin-right:7%">
                            <p>0</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-7 well" style="height:350px">
               
                    <div class="row">                                        
                            <div class="form-group form-inline" style="text-align:center">
                                <label>Title</label>
                                <input [(ngModel)]='instruction.name' type="text" class="form-control input-sm" placeholder="Title" tabindex="2" style="width:60%">
                            </div>                      
                    </div>
                    <div class="row">              
                            <div>
                                <div class="pull-left" style="padding:6px; margin-left:26%">
                                    <label>Category</label>
                                </div>
                                <div class="pull-left" style="width:235px; margin-left:1%">
                                    <ng-select [allowClear]="true"
                                               [items]="items"
                                               (selected)="selected($event)"
                                               [placeholder]="myPlaceholderText">
                                    </ng-select>
                                </div>
                            </div>                                      
                    </div>
                <!--Important -->

                    <div class="row" style="margin-top:2%">                       
                        <tag-input  theme='dark'
                                   [(ngModel)] = "tags"
                                   [maxItems]='5'
                                   [validators]="validators"
                                   [errorMessages]="errorMessages">
                                 
                        </tag-input>                                                          
                    </div>

                   
                        <div class="dasasd" style="margin-top:23%;">
                            <div style="bottom:5px; position:absolute; left:7px">
                                <label title="Add/Change main photo" class="btn btn-default" style="background-color:black; color:aliceblue;">
                                    Add/Change photo
                                    <input class="hidden" type="file" ng2FileSelect [uploader]="uploader" (change)="onChange($event,-1)" />
                                </label>
                            </div>
                            <div style="bottom:5px;position:absolute;right:7px">
                                <button data-toggle="modal" data-target=".bd-example-modal-lg" style="background-color:black; color:aliceblue;" class="btn btn-default">Preview</button>
                                <button (click)="publish()" style="background-color:black; color:aliceblue;" class="btn btn-default">Publish</button>
                            </div>
                        </div>
                   

               
            </div>
        </div>
    </div>
</div>
  
 
  <p-confirmDialog></p-confirmDialog>


<div [dragula]='"first-bag"' [dragulaModel]='instruction.steps'>
    <div *ngFor="let step of instruction.steps; let j = index">
        <p-panel [toggleable]="true" [style]="{'margin-top':'20px','width':'80%','margin-left':'10%'}">
            <p-header >           
                <label >Step {{j}}: {{step.name}}</label>  
                <a class="btn-xs pull-right ui-panel-titlebar-icon ui-panel-titlebar-toggler ui-corner-all ui-state-default" (click)="confirm2(j)"  >
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </a>
             
            </p-header>
            <div style="margin-left:34%">
                <input [(ngModel)]="step.name" class="form-control" placeholder="Input step name" style="text-align:center" />
            </div>
            <div [dragula]='"second-bag"' [dragulaModel]='step.blocks'>
                <div *ngFor="let item of step.blocks; let i = index">
                    <div ngSwitch="{{item.type}}">
                        <div *ngSwitchCase="'text'">
                            <div class="row textM">
                                <div class="pull-left" style="margin-left:-2%">
                                    <span class="fa fa-hand-rock-o fa-lg"></span>
                                </div>
                                <div class="pull-right" style="margin-right:-2%">
                                    <span title="Delete" (click)="removeElement(j,i)" class="glyphicon glyphicon-trash "></span>
                                </div>

                                <div style="word-wrap:break-word;" [innerHTML]="item.field" *ngIf="!item.state" (click)="turn(j,i)">
                                </div>

                                <p-editor *ngIf="item.state" [(ngModel)]="item.field" [style]="{'height':'200px'}">
                                    <p-header>
                                        <span class="ql-formats">
                                            <select class="ql-header">
                                               
                                                <option value="2">Subheading</option>
                                                <option selected="">Normal</option>
                                            </select>
                                            <button class="ql-bold" aria-label="Bold"></button>
                                            <button class="ql-italic" aria-label="Italic"></button>
                                            <button class="ql-underline" aria-label="Underline"></button>
                                        </span>
                                        <button class="pull-right" pButton type="button" icon="fa-close" (click)="turn(j,i)"></button>
                                    </p-header>
                                </p-editor>

                            </div>
                        </div>

                        <div *ngSwitchCase="'photo'">
                            <div class="element">
                                <div class="pull-left" style="margin-left:25%">
                                    <span class="fa fa-hand-rock-o fa-lg"></span>
                                </div>
                                <div class="pull-right" style="margin-right:25%">
                                    <span title="Delete" (click)="removeElement(j,i)" class="glyphicon glyphicon-trash "></span>
                                </div>
                                <cl-image width="450" height="250" [public-id]=item.field [cloud-name]="uploader.cloudName"></cl-image>

                            </div>
                        </div>

                        <div *ngSwitchCase="'video'">
                            <div class="element" style="height:250px; width:450px;">
                                <div class="pull-left" style="margin-left:25%">
                                    <span class="fa fa-hand-rock-o fa-lg"></span>
                                </div>
                                <div class="pull-right" style="margin-right:25%">
                                    <span title="Delete" (click)="removeElement(j,i)" class="glyphicon glyphicon-trash "></span>
                                </div>
                                <div *ngIf="!item.state">                                

                                    <div class="form-horizontal">
                                        <input type="text" [(ngModel)]="item.field"  class="form-control" placeholder="Youtube URL" style="width:280px;max-width:280px;display:inline-block" />
                                        <button  (click)="addYoutubeUrl(j,i)" type="submit" class="btn btn-default" style="margin-left:-8px;margin-top:-2px; background-color:black;color:aliceblue">
                                           Add
                                        </button>
                                    </div>

                                </div>
                                <iframe *ngIf="item.state" [src]="item.field | safe" frameborder="0" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <p-footer>
                <div class="instruments">
                    <label (click)="AddText(j)" title="Add text" class="btn instrument btn-default btn-lg"><span class="glyphicon glyphicon-pencil fa-lg" style="color:aliceblue"></span></label>
                    <label title="Add photo" class="btn instrument btn-default btn-lg">
                        <span class="glyphicon glyphicon-camera " style="color:aliceblue"></span>
                        <input class="hidden" type="file" ng2FileSelect [uploader]="uploader" (change)="onChange($event,j)" />
                    </label>
                    <label (click)="AddVideo(j)" title="Add video" class="btn instrument btn-default btn-lg"><span class="glyphicon glyphicon-facetime-video" style="color:aliceblue"></span></label>
                </div>
            </p-footer>
        </p-panel>
    </div>
</div>

    <button (click)="addStep()" class="btn btn-default" style="background-color:black; color:aliceblue; margin-top:2%; margin-left:47%">Add step</button>



<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel"><b>{{instruction.name}}</b></h4>
            </div>
            <div class="modal-body">

                <div class="imageCenter">
                    <cl-image width="450" height="250" [public-id]=instruction.previewImageUrl [cloud-name]="uploader.cloudName"></cl-image>
                </div>

                <div *ngFor="let step of instruction.steps; let j = index">
                    <h3><b>Step {{j}}: {{step.name}}</b></h3>
                    <div *ngFor="let item of step.blocks; let i = index">
                        <div ngSwitch="{{item.type}}">
                            <div *ngSwitchCase="'text'">
                                <div class="row textM">
                                    <div style="word-wrap:break-word;" [innerHTML]="item.field">
                                    </div>
                                </div>
                            </div>

                            <div *ngSwitchCase="'photo'">
                                <div class="imageCenter" >
                                    <cl-image width="450" height="250" [public-id]=item.field [cloud-name]="uploader.cloudName"></cl-image>
                                </div>
                            </div>

                            <div *ngSwitchCase="'video'">
                                <div class="imageCenter" style="height:250px; width:450px;">
                                    <iframe *ngIf="item.state" [src]="item.field | safe" frameborder="0" allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                 </div>

                </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>