
<script src="http://bootstraptema.ru/plugins/jquery/jquery-1.11.3.min.js"></script>
<script src="http://bootstraptema.ru/plugins/2015/b-v3-3-6/bootstrap.min.js"></script>

<br><br><br>

<style>
    body {
        background: url(http://bootstraptema.ru/images/bg/bg-1.png)
    }

    #main {
        background-color: #f2f2f2;
        padding: 20px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        /*ms-border-radius: 4px;
            o-border-radius: 4px;*/
        border-radius: 4px;
        border-bottom: 4px solid #ddd;
    }

    #real-estates-detail #author img {
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        /*-ms-border-radius: 100%;
        -o-border-radius: 100%;*/
        border-radius: 100%;
        border: 5px solid #ecf0f1;
        margin-bottom: 10px;
    }

    #real-estates-detail .sosmed-author i.fa {
        width: 30px;
        height: 30px;
        border: 2px solid #bdc3c7;
        color: #bdc3c7;
        padding-top: 6px;
        margin-top: 10px;
    }

    .panel-default .panel-heading {
        background-color: #fff;
    }

    #real-estates-detail .slides li img {
        height: 450px;
    }

    .inputProfile {
        border-radius: 1px;
        padding: 5px;
        width: 100%;
    }
</style>

<div *ngIf="user">
    <div class="container">
        <div id="main">


            <div class="row" id="real-estates-detail">
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <header class="panel-title">
                                <div class="text-center">
                                    <strong>Пользователь сайта</strong>
                                </div>
                            </header>
                        </div>
                        <div class="panel-body">
                            <div class="text-center" id="author">
                                <div>
                                    <img src="http://bootstraptema.ru/snippets/element/2016/profilesection/myprofile.jpg">
                                </div>
                                <h4>{{user.firstName}}   {{user.secondName}}</h4>
                                <h5>Обо мне в трёх словах</h5>
                                <input class="input-large" *ngIf="changeField" type="text" [(ngModel)]="user.aboutMySelf" style="border: none; padding: 0;" readonly="readonly" />
                                <input class="inputProfile" *ngIf="!changeField" type="text" [(ngModel)]="user.aboutMySelf" style=" width:100%" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-xs-12">
                    <div class="panel">

                        <div class="panel-body">
                            <ul id="myTab" class="nav nav-pills">
                                <li class="active"><a href="#detail" data-toggle="tab">О пользователе</a></li>
                                <li class=""><a href="#contact" data-toggle="tab">Достижения</a></li>
                                <li class="pull-right"  style="font-size:14px;cursor:pointer;"><a class="pull-right"  (click)="change()" style="font-size:14px;cursor:pointer;">Редактировать</a></li>
                            </ul>
                            <div id="myTabContent" class="tab-content">
                                <hr>
                                <div class="tab-pane fade active in" id="detail">
                                    <h4>История профиля </h4>
                                    <table class="table table-th-block">
                                        <tbody>
                                            <tr><td class="active">Зарегистрирован:</td><td>12-06-2016</td></tr>
                                            <tr>
                                                <td class="active">Имя:</td>
                                                <td>
                                                    <input class="input-large" *ngIf="changeField" type="text" [(ngModel)]="user.firstName" style="border: none; padding: 0;" readonly="readonly" />
                                                    <input class="inputProfile" *ngIf="!changeField" type="text" [(ngModel)]="user.firstName" style="width:100%" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="active">Фамилия:</td>
                                                <td>
                                                    <input class="input-large" *ngIf="changeField" type="text" [(ngModel)]="user.secondName" style="outline: 0 ; border: 0; padding: 0;" readonly="readonly" />
                                                    <input class="inputProfile" *ngIf="!changeField" type="text" [(ngModel)]="user.secondName" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="active">Страна:</td>
                                                <td>
                                                    <input class="input-large" *ngIf="changeField" type="text" [(ngModel)]="user.country" style="outline: 0 ; border: 0; padding: 0;" readonly="readonly" />
                                                    <input class="inputProfile" *ngIf="!changeField" type="text" [(ngModel)]="user.country" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="active">Город:</td>
                                                <td>
                                                    <input class="input-large" *ngIf="changeField" type="text" [(ngModel)]="user.city" style="outline: 0 ; border: 0; padding: 0;" readonly="readonly" />
                                                    <input class="inputProfile" *ngIf="!changeField" type="text" [(ngModel)]="user.city" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="active">Дата рождения:</td>
                                                <td>
                                                    <input type="date" *ngIf="changeField" [(ngModel)]="user.dataOfBirth" style="outline: 0 ; border: 0; padding: 0;" readonly="readonly" />
                                                    <input type="date" *ngIf="!changeField" [(ngModel)]="user.dataOfBirth"  />
                                           
                                                </td>
                                          
                                            </tr>
                                            <tr>
                                                <td class="active">Рейтинг пользователя:</td>
                                                <td>{{user.rating}}</td>
                                            </tr>
                                          
                                        </tbody>
                                    </table>
                                </div>
                                <div class="tab-pane fade" id="contact">
                                    <p></p>
                                    <form role="form">
                                        <div class="form-group">
                                            <label>Ваше имя</label>
                                            <input type="text" class="form-control rounded" placeholder="Укажите Ваше Имя">
                                        </div>
                                        <div class="form-group">
                                            <label>Ваш телефон</label>
                                            <input type="text" class="form-control rounded" placeholder="(+7)(095)123456">
                                        </div>
                                        <div class="form-group">
                                            <label>E-mail адрес</label>
                                            <input type="email" class="form-control rounded" placeholder="Ваш Е-майл">
                                        </div>
                                        <div class="form-group">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox"> Согласен с условиями
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>Текст Вашего сообщения</label>
                                            <textarea class="form-control rounded" style="height: 100px;"></textarea>
                                            <p class="help-block">Текст сообщения будет отправлен пользователю</p>
                                        </div>
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-success" data-original-title="" title="">Отправить</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>